* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

.hero-section {
  margin-top: 96px;
  padding: 0 24px;
  margin-bottom: 64px;
}
.main-heading {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 48px;
}

.text-box {
  max-width: 415px;
}

strong {
  color: #009966;
}

.hero-section p:first-of-type, .wealth-section p:first-of-type {
  margin-bottom: 16px;
}

.wealth-section {
  padding-top: 8px;
}
.bg-color {
  background-color: #999;
}

.content-wrapper {
  background-color: #666;
  padding: 64px 0;
}
.content-box-wrapper {
  padding-bottom: 8px;
}
.content-box {
  background-color: #fff;
  padding: 8px 24px 24px;
}

.section-heading-container {
  background-color: #CC9900;
  padding-bottom: 8px;
  position: relative;
  right: 32px;
  width: max-content;
  margin-bottom: 16px;
}

.section-heading {
  padding: 16px 32px;
  background-color: #FFBF00;
  
}